html { 
  background: url(https://te.legra.ph/file/4124a943e381c15cfbf06.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
